body{
    background: Turquoise;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: Arial;
}

main{
    margin: auto;
    padding: 10px;
    height: 720px;
    width: 880px;
}

h1, h3{
    text-align: center;
}

div{
    display: inline-flex;     
    margin: 5px;
    height: 170px; 
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 5px;
}

.A{
    width: 140px;
}

.B{
    background-color: rgba(69, 168, 23, 0.986);
    width: 120px;
}

.C{
    width: 520px;
}

.a, .b, .c{
    font-size: 20px;
    width: 150px;
    text-align: center;
}

span{
    font-size: 15px;
}

li{
    width: 200px;
    font-size: 18px;
}

img{
    padding-left: 20px;
    width: 150px;
    height: 40px;
}