body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

main{
    width: 800px;
    margin: auto;
}

header{
    background-color: #f0f0f0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div, header nav{
    width: 400px;
}

#logo{
    font-weight: bold;
    font-size: 20px;
}

#logo span{
    color: #b43b3b
}

header nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100px;
    text-align: center;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
}

.selectedMenu, header nav a:hover{
    background-color: #b43b3b;
}

figure{
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 250px;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-top: 20px;
    text-align: center;
}

figcaption{
    margin-top: 10px;
    font-size: 10px;
}

figure img{
    border-radius: 10px 10px 0px 0px;
}

#articles{
    display: flex;
    margin: 20px 0px;
}

article{
    width: 158px;
    border: 1px solid #cacaca;
    padding: 20px;
    font-size: 10px;
}

article img{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}

article button{
    border: none;
    padding: 10px;
    background-color: #393939;
    color: white;
    border-radius: 4px;
}

article p{
    text-align: justify;
}

article h3{
    color: #b43b3b;
    text-align: center;
    font-size: 14px;
}

section h2{
    padding: 5px;
    background-color: #b43b3b;
    color: white;
    text-align: center;
    border-radius: 4px;
}

section p{
    text-align: justify;
}

footer{
    background-color: #424242;
    color: white;
    height: 30px;
    text-align: center;
    padding: 20px;
}
