#lista{  
    display: flex;
    flex-wrap: wrap;
}

.div{
    text-align: center;
    font-family: Arial;
    margin: 10px;
    border: solid 2px #1f9ec5;
    border-radius: 15px;
    width: 300px;
    height: 100px;
}

p{
    margin: auto;
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
}

#estado{
    background-color: rgb(242, 246, 246); 
    font-size: 12px;
    margin: auto;
    width: 200px;
    height: 20px;
    padding-top: 5px;
}