@media screen and (min-width: 780px){
    body{
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        font-family: Arial;
    }

    #layout2{
        display: none;
    }
    
    #maincontainer{
        margin-top: -20px;
        padding: 30px;
        height: 700px;
        width: 100%;
        color: white;
        background: -webkit-linear-gradient(#2d00f7, #432371,rgb(114, 11, 114));
    }
    
    #main{
        display: flex;
        margin-top: 10px;
        width: 650px;
        height: 150px;
    }
    
    #head1{
        width: 280px;
        height: 160px;
        border-right: 1px black solid;
    }

    #head1 img{
        display: inline-block;
        vertical-align: middle;
        width: 150px;
        height: 150px;
    }
    
    #head1 div{
        display: inline-block;
        width: 80px;
        height: 100px;
        vertical-align: middle;
        font-size: 20px;
    }
    
    #head1 span{
        font-size: 70px;
    }
    
    #head2{
        vertical-align: middle;
        width: 350px;
        height: 160px;
    }
    
    .caixa{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        width: 50px;
        height: 30px;
    }
    
    .caixa1{
        display: inline-block;
        vertical-align: middle;
        margin: 20px;
        width: 60px;
        height: 30px;
    }
    
    .caixa2{
        display: inline-block;
        vertical-align: middle;
        margin: 20px;
        width: 80px;
        height: 30px;
    }

    #head2 div{
        text-align: left;
    }
    
    #head2 span{
        font-size: 20px;
        line-height: 30px;
    }
    
    #meio{
        margin-top: 20px;
        margin-bottom: 50px;
        width: 580px;
        height: 100px;
    }
    
    .horário{
        display: inline-block;
        width: 64px;
        height: 130px;
        border-radius: 15px;
        background: -webkit-linear-gradient(#2771b1, #a100f2, blue);
        text-align: center;
        margin: 2px;
    }
    
    .horário img{
        margin-top: -20px;
    }
    
    .horizontal{
        width: 580px;
        height: 60px;
        border-top: 1px solid #cacaca;
    }
    
    .div{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 80px;
        height: 60px;
        margin: 5px;
        font-size: 15px;
    }
    
    .horizontal div div{
        font-size: 20px;
    }
}
 

@media screen and (max-width: 780px){
    body{
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        color: white;
        font-family: Arial;
    }

    .horizontal, #meio{
        display: none;
    }

    #maincontainer{
        height: 600px;
        width: 100%;
        background: -webkit-linear-gradient(#540d6e,#4e00f4,#35a7ff);
        padding: 10px;
    }

    h1{
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    #l{
        font-size: 13px;
    }
    
    #head1{
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        width: 250px;
        height: 150px;
        margin-left: 70px;
    }

    #head1 img{
        vertical-align: middle;
        width: 150px;
    }
    
    #head1 div{
        text-align: center;
        font-size: 18px;
        height: 100px;
        width: 100px;
        margin-top: 25px;
    }
    
    #head1 span{
        font-size: 65px;
        vertical-align: middle;
        height: 200px;
    }

    #head2{
        width: 420px;
        height: 130px;
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
    }

    #head2 span{
        font-size: 20px;
    }

    .caixa, .caixa1, .caixa2{
        display: inline-block;
        margin: 10px;
        width: 100px;
        height: 50px;
        font-size: 15px;
        vertical-align: middle;
        margin-left: 30px;
    }

    .caixa{
        width: 80px;
    }

    .horário{
        display: inline-block;
        width: 64px;
        height: 130px;
        border-radius: 15px;
        background: -webkit-linear-gradient(#161b33, #4e00f4, #ff595e);
        text-align: center;
        margin: 15px;
        margin-left: 20px;
    }

    .horário img{
        margin-top: -20px;
    }
}